#body {
  background-color:rgb(31, 32, 138);
}

#background1 {
  height: 100%;
  width: 100%;
  padding: 0%;
}

#animation_container {
  background-color:rgba(255, 255, 255, 0.00); 
  width:80px; 
  height:80px;
  position: relative;
  left: 290px; 
  top: 250px; 
}

#canvas {
  width:80px;
  height:80px;
  position: relative; 
  left: 290px;
  top: 250px;
  display: block;
  background-color:rgba(255, 255, 255, 0.00);
}

#dom_overlay_container {
  pointer-events:none; 
  overflow:hidden;
  width:80px;
  height:80px;
  position: relative;
  left: 290px; 
  top: 250px; 
  display: block;
}