
:root{
    --botones-edad: 100%;
    --barras-porcetaje: 100%;
}

#body {
  background-color: rgb(109, 109, 109);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;

}
#container {
    
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 0px;
}

/*--scroll--*/
.scrollable {
    max-height: 200px; /* establece la altura máxima de la sección */
    overflow-y: scroll; /* establece el scroll vertical */
  }
  
  /* Personalización de scrollbar */
  .scrollable::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background:  transparent;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*----------*/ 


/* --------------     Barra del Titulo / Menu    -------------*/
#menu {
    
    height: 11%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #e43418;
    align-items: center;
    display: flex;
}
#bottonMenu {
    padding: 0px 0px 0px 25px;

}
#tituloBit{
    pointer-events:none;
    justify-content: center;
    font-size: 50px;
    list-style: none;
    margin-bottom: 0;
    padding: 0 312px 0 380px;
}
#bottonMenu2 {
    pointer-events:none;

 font-size: 15px;
 border: 2px solid #db0c0c;
 border-radius: 30px;
 background-color : #ff9924;
 width: 56px;
 height: 56px;
}
#bottonMDios2{
    font-size: 18px;
    border: 2px solid #ffbf0f;
    background-color: #d6290f;
    border-radius: 50px;
    width: 150px;
    height: 50px;

}
#uldemierda{
    align-items: center;
}
#logoT{
    width: 56px; display: block; margin-left: auto; margin-right: auto;
}
#logoMenu{
    width: 30px; display: block; margin-left: auto;margin-right: auto;
}
/*------------------------------------------------------------*/

/*---------- Clases ---------*/
.tm-nav {
    text-align: center;

  }
.tm-nav-ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
  }
.tm-nav-li {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
}
/*-----------------------------*/

/* --------------        --------------*/
/*------------------------------------------------------------*/

/* --------------   Barra del Pj y el Dinero    --------------*/
#li-nombreBanco{
    list-style: none;
    margin-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
}
#pj-dinero{
    height: 9%;
    background-color: #d4d6d8;
    padding: 0px 0px 0px 0px;
    display: flex;
}
#bottonPj{
    padding: 0px 0px 0px 0px;
    margin: 0px 425px 0px -10px;
}
#dinero{
    margin-top: 0px;
    font-size: 23px;
}
#bottonPj2{
    width:100px ;
    height: 20px;
}
#pj-dinero3{
    padding: 11px 0px 0px 0px;
    margin: 0px 0px 0px 465px;
}
/*------------------------------------------------------------*/


/* --------------    Historial de Vida    --------------*/
#historial{
    align-items: center;
    text-align: left;
    margin: 0px 0px 0px 30px;
    width: 95%;
    height: 42%;
}
#para{  
    width: 100%;  
    height: 100%;  
    overflow: auto;  
    font-size: 20px;  
    margin-block-start: 1em;
    margin-block-end: 0em;
}  
/*------------------------------------------------------------*/

/* --------------  Barra Principal de la Edad   --------------*/
#barraPrincipal{
    height: 12%;
}
#barraPrincipal2{
    background-color: #01559b;
    padding: 0px 0px 0px 0px;
    height: var(--botones-edad);
}
#bottonEdad{
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 40px 0px 40px;
}
#buttonTrabajo2{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left: 3px solid #003f72;
    border-right:6px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#buttonTrabajo1{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left: 3px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#buttonTrabajo3{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left: 3px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#buttonTrabajo4{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left: 6px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#bottonEdad2{
    font-size: 30px;
    border-radius: 100px;
    border: 6px solid #d4d6d8;
    background-color: #259c3b;
    width: var(--botones-edad);
    height: var(--botones-edad);
    padding:0px 0px 0px 0px;
}
#bottonActividades2{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left:6px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#bottonActividades1{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left:3px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#bottonActividades3{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left:3px solid #003f72;
    border-right:3px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
#bottonActividades4{
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: var(--botones-edad);
    border-left:3px solid #003f72;
    border-right:6px solid #003f72;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #01559b;
}
/*------------------------------------------------------------*/

/* --------------    Barra de Porcentaje    --------------*/
.div1{
    width: 200px;
    height: 90%;
    padding-left: 100px;
    padding-right : 100px;
    
   }
   .div2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .progress-bar {
     margin: 10%;
     margin-left: 0px;
     border-radius: 5px;
     border: 1px solid black;
     width: 100%;
     height: 15%;
     background-color: #f2f2f2;
   }
   
   .progress {
     width: 50%; /* Aquí puedes ajustar el porcentaje de progreso */
     height: 100%;
     background-color: #4CAF50;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
   }
   
/*------------------------------------------------------------*/

/* --------------   Actividades     --------------*/

#actividades{
    height: 632px;
    width: 1200px;
    background-color: rgb(23, 201, 168);
    position: absolute;
    top: 157px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
#actividades2{
    background-color:#d4d6d8; 
    list-style: none;
    height: 90px;
    width: 90px;
    border: none;
    background-color: transparent;
}

#actividades22{
display: flex;
background-color:#365f7f;
height: 90px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;

}

#nActividades{
list-style: none;
font-size: 40px;
text-align: center;
padding-top: 20px;
padding-left: 400px;
}

#actividades23{
display: flex;
background-color:#d4d6d8;
height: 87.3px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 3px solid #969696;
border-top: none;

}
/*------------------------------------------------------------*/

/* --------------   Relaciones     --------------*/

#relaciones{
    height: 632px;
    width: 1200px;
    background-color: rgb(23, 201, 168);
    position: absolute;
    top: 157px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
#relaciones2{
    background-color:#d4d6d8; 
    list-style: none;
    height: 90px;
    width: 90px;
    border: none;
    background-color: transparent;
}

#relaciones22{
display: flex;
background-color:#365f7f;
height: 90px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;

}

#nRelaciones{
list-style: none;
font-size: 40px;
text-align: center;
padding-top: 20px;
padding-left: 400px;
}

#relaciones23{
display: flex;
background-color:#d4d6d8;
height: 87.3px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 3px solid #969696;
border-top: none;

}
/*------------------------------------------------------------*/